.navbar-size {
  width: 95%;
  margin: 0 auto;
}
.logo-img {
  height: 50px;
  margin-top: 7px;
}
.main-body {
  background-color: #f9f9f9;
  color: #222;
  padding-top: 30px;
  min-height: 100vh;
}
.materialboxed-image {
  width: 100%;
  height: 50%;
  margin: 0;
  display: block;
}
.click-me-button {
  background-color: #1428a0;
  margin-top: 25px;
}
h1#heading {
  font-weight: 600;
  color: #1428a0;
}
.modal-content h5 {
  color: #1428a0;
  font-weight: 500;
}